{% import_yaml "admin/defaults.yaml" as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {
            'tools': [
                'colordiff',
                'curl',
                'htop',
                'multitail',
                'wget'
            ]
        },
        'Ubuntu': {
            'tools': [
                'colordiff',
                'curl',
                'htop',
                'multitail',
                'wget'
            ]
        },
        'RedHat': {
            'tools': [
                'colordiff',
                'curl',
                'htop',
                'multitail',
                'wget'
            ]
        },
        'CentOS': {
            'tools': [
                'colordiff',
                'curl',
                'htop',
                'multitail',
                'wget'
            ]
        }
    },
    grain="os_family",
    merge=salt['pillar.get']('admin:lookup'))
%}

{% do default_settings.admin.update(os_family_map) %}

{% set admin = salt['pillar.get'](
        'admin',
        default=default_settings.admin,
        merge=True
    )
%}
